{% extends "base.html" %}
{% block titulo %}
  <title>Eliminar usuario</title>
{% endblock %}

{% block contenido %}
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>

              <!-- General Form Elements -->
              {% if res == True %}
              <form method="POST">
                    {% csrf_token %}
                    <div class="alert alert-danger" role="alert">
                    Esta seguro de eliminar a {{ user.username }}
                    no se podra recuperar despues..
                    </div>

                <div class="row mb-3 float-end">
                  <div class="col-sm-12">
                    <a class="btn btn-primary" href="{% url 'store:user' %}">No</a>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->
             {% elif res == False %}
              <form method="POST">
                {% csrf_token %}
                <div class="alert alert-danger" role="alert">
                No se puede eliminar {{ user.username }}
                debido a que hay movimientos de venta o movimientos 
                de carga de productos a nombre de este usuario
                </div>

                <div class="row mb-3 float-end">
                  <div class="col-sm-12">
                    <a class="btn btn-primary" href="{% url 'store:user' %}">No</a>
                  </div>
                </div>

              </form><!-- End General Form Elements -->
             {% endif %}
            </div>
          </div>

        </div>

      </div>
    </section>

{% endblock %}