{% extends "base.html" %}

{% block titulo %}
  <title>Detalle de producto</title>
{% endblock %}


{% block contenido %}
    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
    
              <!-- Default Card -->
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Detalle de producto</h5>
                  {% if producto %}
                    <table class="table">
                        <thead>
                        </thead>
                        <tbody>
                        <tr>        
                            <td>Nombre del Producto:</td>
                            <td>{{ producto.nombre_producto }}</td>                    
                        </tr>
                        <tr>
                            <td>Proveedor</td>
                            <td>{{ producto.proveedor.empresa }}</td>
                        </tr>
                        <tr>       
                          <td>Fecha de registro:</td>
                          {% if producto.fecha_de_registro == None %}
                            <td>No hay fecha de registro</td>                                
                          {% else %}
                            <td>{{ producto.fecha_de_registro }}</td> 
                          {% endif %}              
                        </tr>
                        <tr>
                            <td>Codigo de Barra</td>
                            <td>{{ producto.codigo_barra }}</td>
                        </tr>
                        <tr>
                            <td>Usuario que lo registro</td>
                            <td>{{ producto.usuario }}</td>
                        </tr>
                        <tr>
                            <td>Categoria del producto</td>
                            <td>{{ producto.categoria.categoria }}</td>
                        </tr>
                        <tr>       
                          <td>Fecha de Vencimiento:</td>
                          {% if producto.producto.fecha_vencimiento == None %}
                            <td>No tiene fecha de vencimiento</td>
                          {% else %}
                            <td>{{ producto.fecha_vencimiento }}</td>    
                          {% endif %}             
                        </tr>
                        <tr>
                          <td>Usuario responsable:</td>
                          <td>{{ producto.usuario }}</td>
                        </tr>
                        </tbody>
                    </table>
                  {% endif %}
                </div>
                <div class="card-footer">
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <a class="btn btn-success" href="{% url 'store:list_prod' %}">Salir</a>
                  </div>
              </div>
              </div><!-- End Default Card -->

            </div>
        </div>
    </section>


{% endblock %}