{% extends "base.html" %}
{% block titulo %}
  <title>Detalle de Inventario</title>
{% endblock %}

{% block contenido %}
    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
    
              <!-- Default Card -->
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Detalle de producto</h5>
                  {% if producto %}
                    <table class="table">
                        <thead>
                        </thead>
                        <tbody>
                        <tr>        
                            <td>Nombre del Producto:</td>
                            <td>{{ producto.producto }}</td>                    
                        </tr>
                        <tr>
                          <td>Sucursal:</td>
                          <td>{{ producto.sucursal }}</td>
                        </tr>
                        <tr>       
                          <td>Fecha de registro:</td>
                          <td>{{ producto.fecha_de_registro }}</td>                 
                        </tr>
                        <tr>       
                          <td>Fecha de Vencimiento:</td>
                          {% if producto.producto.fecha_vencimiento == None %}
                            <td>No tiene fecha de vencimiento</td>
                          {% else %}
                            <td>{{ producto.producto.fecha_vencimiento }}</td>    
                          {% endif %}             
                        </tr>
                        <tr>
                          <td>Usuario responsable:</td>
                          <td>{{ producto.usuario }}</td>
                        </tr>
                        <tr>
                          <td>Stock:</td>
                          <td>{{ producto.cantidad }}</td>
                        </tr>
                        <tr>
                          <td>Presentacion:</td>
                          <td>{{ producto.presentacion }}</td>
                        </tr>
                        {% if user.tipo_usuario.tipo_usuario == "administrador" %}
                        <tr>
                          <td>Costo:</td>
                          <td>${{ producto.costo }}</td>
                        </tr>
                        <tr>
                          <td>Precio:</td>
                          <td>${{ producto.precio }}</td>
                        </tr>
                        {% else %}
                        <tr>
                          <td>Precio:</td>
                          <td>${{ producto.precio }}</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                  {% endif %}
                </div>
                <div class="card-footer">
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <a class="btn btn-success" href="{% url 'store:list_inv' %}">Salir</a>
                  </div>
              </div>
              </div><!-- End Default Card -->

            </div>
        </div>
    </section>


{% endblock %}