{% extends "base.html" %}

{% block contenido %}
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>

              <!-- General Form Elements -->
              <form method="POST">
                    {% csrf_token %}
                    <div class="alert alert-danger" role="alert">
                    Esta seguro de eliminar a {{ proveedor.empresa }}
                    no se podra recuperar despues..
                    </div>

                <div class="row mb-3 float-end">
                  <div class="col-sm-12">
                    <a class="btn btn-primary" href="{% url 'store:list_prove' %}">No</a>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>

      </div>
    </section>

{% endblock %}