{% extends "base.html" %}
{% block titulo %}
  <title>Detalle de descarga de producto</title>
{% endblock %}


{% block barra_superior %}

{% endblock %}

{# blocke para especificar los atributos del body y quitar la barra lateral #}
{% block atributos_body %}
        class="toggle-sidebar" {# este atributo quita el espacio de mas a la izquierda #}
{% endblock %}

{% block barra_lateral %}

{% endblock %}

{% block contenido %}
    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
    
              <!-- Default Card -->
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Descarga de Inventario</h5>
                  {% if descargas %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" colspan="4">Descarga de Inventario de la fecha {{ descarga.fecha_descarga}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>                            
                            <td>Usuario:</td>
                            <td>{{ descargas.usuario }}</td>
                            <td>Descripcion</td>
                            <td>{{ descargas.descripcion }}</td>
                        </tr>
                        <tr>                        
                            <td>Sucursal:</td>
                            <td>{{ descargas.sucursal }}</td>
                            <td>Fecha de carga de inventario:</td>
                            <td>{{ descargas.fecha_descarga }}</td>
                        </tr>
                        </tbody>
                    </table>
                  {% endif %}
                </div>
              </div><!-- End Default Card -->
    
              <!-- Card with header and footer -->
              <div class="card">
                <div class="card-header">Detalle</div>
                <div class="card-body">
                  <h5 class="card-title">Detalle</h5>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Producto</th>
                          <th scope="col">Presentacion</th>
                          <th scope="col">Cantidad anterior</th>
                          <th scope="col">Cantidad descargada</th>
                          <th scope="col">Nueva cantidad</th>
                          <th scope="col">Costo</th>
                          <th scope="col">Precio</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% if detalle_descarga_producto_carga %}
                              {% for descarga_detalle in detalle_descarga_producto_carga %}
                                  <tr>
                                      <th scope="row">{{ descarga_detalle.id }}</th>
                                      <td>{{ descarga_detalle.producto }}</td>
                                      <td>{{ descarga_detalle.presentacion }}</td>
                                      <td>{{ descarga_detalle.cantidad_anterior }}</td>
                                      <td>{{ descarga_detalle.cantidad_descargada }}</td>
                                      <td>{{ descarga_detalle.nueva_cantidad }}</td>
                                      <td>${{ descarga_detalle.costo }}</td>
                                      <td>${{ descarga_detalle.precio }}</td>
                                      <td>${{ descarga_detalle.total }}</td>
                                  </tr>
                              {% endfor %}
                          {% else %}
                          <p>No hay productos registrados para este inventario</p>
                        {% endif %}
                      </tbody>
                      <tfoot>
                          <tr>
                              <th colspan="8">Total</th>
                              <th>${{ descargas.total }}</th>
                          </tr>
                      </tfoot>
                    </table>
                    <!-- End Active Table -->
                  </div>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="btn btn-success" href="{% url 'store:list_descarga_prod' %}">Salir</a>
                    </div>
                </div>
              </div><!-- End Card with header and footer -->
            </div>
        </div>
    
    </div>
    </section>


{% endblock %}