{% extends "base.html" %}

{% block titulo %}
  <title>Listado de aperturas y corte de caja</title>
{% endblock %}
{% load static %}
{% block extra-css %}
      <link href="{% static 'assets/css/jquery-ui/jquery-ui.css' %}" rel="stylesheet">
      <link href="{% static 'assets/css/select2/select2.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'assets/css/toastr/toastr.css' %}">
{% endblock %}

{% block contenido %}
    <div class="pagetitle">
      <h1>Aperturas de Caja</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'store:list_apertura_corte' %}">Apertura</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <button class="btn btn-primary pull-right" id="btn_nueva_apertura">Crear Apertura</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card text-center bg-warning">
            <div class="card-header">
              APERTURA DE CAJA
            </div>
            <div class="card-body">
              
              {% if es_corte_de_caja == 1 %}
                <h4 class="card-title">Apertura activa</h4>
                <h1>A cargo de <b>{{ apertura_activa.usuario }}</b></h1>
                <h1>Monto de apertura: ${{ apertura_activa.monto_de_apertura }}</h1>
                <a href="{% url 'store:realizar_corte' apertura_activa.id %}" class="btn btn-danger">Realizar corte</a>
              {% elif es_corte_de_caja == 2 %}
                <h4 class="card-title">Corte de Caja Realizado</h4>
                <h1>A cargo de <b>{{ apertura_de_corte.usuario }}</b></h1>
                <h1>Aperturo con: ${{ apertura_de_corte.monto_de_apertura }}</h1>
                <h1>Realizo corte: ${{ apertura_de_corte.monto_de_corte }}</h1>
                <a href="{% url 'store:cierre_caja' apertura_de_corte.id %}" class="btn btn-danger">Realizar Cierre de caja</a>   
              {% elif es_corte_de_caja == 3 %}
                <h4 class="card-title">Usted va empezando el dia, por lo que no hay ninguna apertura de caja, ni ultimo corte disponible</h4>
                <h4 class="card-title">Por favor realice una nueva apertura de caja, antes de enpezar a vender</h4>
              {% endif %}
            </div>
            <div class="card-footer text-muted" id="mostrar_cuadratura">
                <h5></h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Aperturas de caja</h5>
              <!-- Table with stripped rows -->
              <div class="table-responsive">
                <table class="table" id="table-apertura-corte">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Caja</th>
                      <th scope="col">Usuario</th>
                      <th scope="col">Fecha de Apertura</th>
                      <th scope="col">Monto de Apertura</th>
                      <th scope="col">Diferencia de apertura</th>
                      <th scope="col">Fecha de Corte</th>
                      <th scope="col">Monto de Corte</th>
                      <th scope="col">Diferencia de corte</th>
                      <th scope="col">Usuario de corte</th>
                      <th scope="col">Ultimo Cierre</th>
                      <th scope="col">Cierre de caja</th>
                      <th scope="col">Utimo corte</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->
              </div>
            </div>
            <input type="hidden" name="url_verificar_apertura_caja_activa" id="url_verificar_apertura_caja_activa" value="{% url 'store:verificar_apertura_activa' %}">
            <input type="hidden" name="url_crear_apertura" id="url_crear_apertura" value="{% url 'store:crear_apertura' %}">
            <input type="hidden" name="url_list_apecor_json" id="url_list_apecor_json" value="{% url 'store:list_apecor_json' %}">
          </div>

        </div>
      </div>
    </section>
{% endblock %}


{% load static %}

{% block extra-script %}
<script src="{% static 'assets/js/jquery-ui/jquery-ui.js' %}"></script>
<script src="{% static 'assets/js/jquery-mask/jquery.mask.js' %}"></script>
<script src="{% static 'assets/js/select2/select2.js' %}"></script>
<script src="{% static 'assets/js/toastr/toastr.min.js' %}"></script>
<script src="{% static 'assets/js/proces_apertura_corte/listar_apertura_corte.js' %}"></script>
{% endblock %}