{% extends "base.html" %}
{% block titulo %}
  <title>Crear Transaccion</title>
{% endblock %}

{% load static %}
{% block extra-css %}
      <link href="{% static 'assets/css/jquery-ui/jquery-ui.css' %}" rel="stylesheet">
      <link href="{% static 'assets/css/select2/select2.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'assets/css/toastr/toastr.css' %}">

      <style>
        .ui-autocomplete {
          max-height: 500px;
          overflow-y: auto;
          /* prevent horizontal scrollbar */
          overflow-x: hidden;
        }
        /* IE 6 doesn't support max-height
         * we use height instead, but this forces the menu to always be this tall
         */
        * html .ui-autocomplete {
          height: 100px;
        }
        </style>
{% endblock %}

{% block barra_superior %}

{% endblock %}

{# blocke para especificar los atributos del body y quitar la barra lateral #}
{% block atributos_body %}
        class="toggle-sidebar" {# este atributo quita el espacio de mas a la izquierda #}
{% endblock %}

{% block barra_lateral %}
        <div class="container">
          <section class="section">
              <form action="">
                {% csrf_token %}
                  <div class="row">
                    <div class="col-md-4 form-group">
                      <input type="hidden" name="url_efectuar_trans_json" id="url_efectuar_trans_json" value="{% url 'store:efectuar_trans_json' %}">
                      <input type="hidden" name="url_list_trans" id="url_list_trans" value="{% url 'store:list_trans' %}">
                      <label for="">Tipo de Transaccion</label>
                      <select class="form-control" name="tipo_transaccion" id="tipo_transaccion">
                        <option value="" selected>seleccione</option>
                        {% if tipo_transacciones %}
                          {% for tipo_transaccion in tipo_transacciones %}
                            <option value="{{ tipo_transaccion.id }}">{{ tipo_transaccion.nombre_tipo_transaccion }}</option>
                          {% endfor %}
                        {% endif %}
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="">Nombre del cliente:</label>
                        <input type="text" class="form-control" id="nombre_cliente" name="nombre_cliente">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="">Apellido del cliente</label>
                        <input type="text" class="form-control" id="apellido_cliente" name="apellido_cliente">
                      </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="">Concepto</label>
                        <input type="text" class="form-control" id="concepto" name="concepto">
                      </div>
                    </div>
                    <div class="col-md-4 form-group" >
                      <label for="" style="font-size: 3vh; font-weight: bold; text-align: center;">Total</label>
                      <input class="form-control" style="width: 30vh; height:7vh; font-size: 5vh; font-weight: bold; text-align: center;" type="text" name="id_total_en_grande" id="id_total_en_grande" value="$0" disabled>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-7">

                    </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <button id="limpiar" class="btn-primary btn form-control">Limpiar</button>
                        </div>
                      </div>
                    <div class="col-md-2">
                      <div class="form-group">
                          <button id="btn_guardar_transaccion" class="btn btn-success form-control">Guardar</button>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="form-group">
                        <a href="{% url 'store:list_trans' %}" class="btn-danger form-control">Salir</a>
                      </div>
                    </div>
                  </div>
                  
              </form>
          </section>
          <br>
          <section class="section">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Billete</h5>
                      <div class="table-responsive" style="height:100vh">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Denominacion</th>
                              <th></th>
                              <th scope="col">Cantidad</th>
                              <th scope="col"></th>
                              <th scope="col">Total</th>
                              <th scope="col">Denominacion</th>
                              <th></th>
                              <th scope="col">Cantidad</th>
                              <th scope="col"></th>
                              <th scope="col">Total</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody id="table-denominacion-billete">
                                <tr>
                                  {% if deno_1 %}
                                    <td>
                                      <input class="form-control precio_deno1_b" type="text" value="{{ deno_1.denominacion }}" disabled>
                                      <input class="id_deno1_b" type="hidden" value="{{ deno_1.id}}">
                                    </td>
                                    <td><input class="form-control" type="text" value="X" disabled></td>
                                    <td><input class="form-control cantidad1_b" type="text" value="" ></td>
                                    <td><input class="form-control" type="text" value="=" disabled></td>
                                    <td><input class="form-control total1_b" type="text" value="$0.0" disabled></td>
                                  {% endif %}
                                  {% if deno_20 %}
                                    <td>
                                      <input class="form-control precio_deno2_b" type="text" value="{{ deno_20.denominacion }}" disabled>
                                      <input class="id_deno2_b" type="hidden" value="{{ deno_20.id}}">
                                    </td>
                                    <td><input class="form-control" type="text" value="X" disabled></td>
                                    <td><input class="form-control cantidad2_b" type="text" value="" ></td>
                                    <td><input class="form-control" type="text" value="=" disabled></td>
                                    <td><input class="form-control total2_b" type="text" value="$0.0" disabled></td>
                                  {% endif %}
                                </tr>
                                <tr>
                                  {% if deno_2 %}
                                    <td>
                                      <input class="form-control precio_deno1_b" type="text" value="{{ deno_2.denominacion }}" disabled>
                                      <input class="id_deno1_b" type="hidden" value="{{ deno_2.id}}">
                                    </td>
                                    <td><input class="form-control" type="text" value="X" disabled></td>
                                    <td><input class="form-control cantidad1_b" type="text" value="" ></td>
                                    <td><input class="form-control" type="text" value="=" disabled></td>
                                    <td><input class="form-control total1_b" type="text" value="$0.0" disabled></td>
                                  {% endif %}
                                  {% if deno_50 %}
                                    <td>
                                      <input class="form-control precio_deno2_b" type="text" value="{{ deno_50.denominacion }}" disabled>
                                      <input class="id_deno2_b" type="hidden" value="{{ deno_50.id}}">
                                    </td>
                                    <td><input class="form-control" type="text" value="X" disabled></td>
                                    <td><input class="form-control cantidad2_b" type="text" value="" ></td>
                                    <td><input class="form-control" type="text" value="=" disabled></td>
                                    <td><input class="form-control total2_b" type="text" value="$0.0" disabled></td>
                                  {% endif %}
                                </tr>
                                <tr>
                                  {% if deno_5 %}
                                    <td>
                                      <input class="form-control precio_deno1_b" type="text" value="{{ deno_5.denominacion }}" disabled>
                                      <input class="id_deno1_b" type="hidden" value="{{ deno_5.id}}">
                                    </td>
                                    <td><input class="form-control" type="text" value="X" disabled></td>
                                    <td><input class="form-control cantidad1_b" type="text" value="" ></td>
                                    <td><input class="form-control" type="text" value="=" disabled></td>
                                    <td><input class="form-control total1_b" type="text" value="$0.0" disabled></td>
                                  {% endif %}
                                  {% if deno_100 %}
                                    <td>
                                      <input class="form-control precio_deno2_b" type="text" value="{{ deno_100.denominacion }}" disabled>
                                      <input class="id_deno2_b" type="hidden" value="{{ deno_100.id}}">
                                    </td>                                      
                                    <td><input class="form-control" type="text" value="X" disabled></td>
                                    <td><input class="form-control cantidad2_b" type="text" value="" ></td>
                                    <td><input class="form-control" type="text" value="=" disabled></td>
                                    <td><input class="form-control total2_b" type="text" value="$0.0" disabled></td>
                                  {% endif %}
                                </tr>
                                <tr>
                                  {% if deno_10 %}
                                    <td>
                                      <input class="form-control precio_deno1_b" type="text" value="{{ deno_10.denominacion }}" disabled>
                                      <input class="id_deno1_b" type="hidden" value="{{ deno_10.id}}">
                                    </td>
                                    <td><input class="form-control" type="text" value="X" disabled></td>
                                    <td><input class="form-control cantidad1_b" type="text" value="" ></td>
                                    <td><input class="form-control" type="text" value="=" disabled></td>
                                    <td><input class="form-control total1_b" type="text" value="$0.0" disabled></td>
                                  {% endif %}
                                </tr>                      
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="7">Total Billete</td>
                              <td colspan="3"><input id="total_billete" type="text" class="form-control" value="$0.0" disabled></td>
                            </tr>
                          </tfoot>
                        </table> 
                        <h5 class="card-title">Moneda</h5>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Denominacion</th>
                              <th></th>
                              <th scope="col">Cantidad</th>
                              <th scope="col"></th>
                              <th scope="col">Total</th>
                              <th scope="col">Denominacion</th>
                              <th></th>
                              <th scope="col">Cantidad</th>
                              <th scope="col"></th>
                              <th scope="col">Total</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody id="table-denominacion-moneda">
                            <tr>
                              {% if deno_1_moneda %}
                                <td>
                                  <input class="form-control precio_deno1_m" type="text" value="{{ deno_1_moneda.denominacion }}" disabled>
                                  <input class="id_deno1_m" type="hidden" value="{{ deno_1_moneda.id}}">
                                </td>
                                <td><input class="form-control" type="text" value="X" disabled></td>
                                <td><input class="form-control cantidad1_m" type="text" value="" ></td>
                                <td><input class="form-control" type="text" value="=" disabled></td>
                                <td><input class="form-control total1_m" type="text" value="$0.0" disabled></td>
                              {% endif %}
                              {% if deno_010_moneda %}
                                <td>
                                  <input class="form-control precio_deno2_m" type="text" value="{{ deno_010_moneda.denominacion }}" disabled>
                                  <input class="id_deno2_m" type="hidden" value="{{ deno_010_moneda.id}}">
                                </td>
                                <td><input class="form-control" type="text" value="X" disabled></td>
                                <td><input class="form-control cantidad2_m" type="text" value="" ></td>
                                <td><input class="form-control" type="text" value="=" disabled></td>
                                <td><input class="form-control total2_m" type="text" value="$0.0" disabled></td>
                              {% endif %}
                            </tr>
                            <tr>
                              {% if deno_050_moneda %}
                                <td>
                                  <input class="form-control precio_deno1_m" type="text" value="{{ deno_050_moneda.denominacion }}" disabled>
                                  <input class="id_deno1_m" type="hidden" value="{{ deno_050_moneda.id}}">
                                </td>
                                <td><input class="form-control" type="text" value="X" disabled></td>
                                <td><input class="form-control cantidad1_m" type="text" value="" ></td>
                                <td><input class="form-control" type="text" value="=" disabled></td>
                                <td><input class="form-control total1_m" type="text" value="$0.0" disabled></td>
                              {% endif %}
                              {% if deno_05_moneda %}
                                <td>
                                  <input class="form-control precio_deno2_m" type="text" value="{{ deno_05_moneda.denominacion }}" disabled>
                                  <input class="id_deno2_m" type="hidden" value="{{ deno_05_moneda.id}}">
                                </td>
                                <td><input class="form-control" type="text" value="X" disabled></td>
                                <td><input class="form-control cantidad2_m" type="text" value="" ></td>
                                <td><input class="form-control" type="text" value="=" disabled></td>
                                <td><input class="form-control total2_m" type="text" value="$0.0" disabled></td>
                              {% endif %}
                            </tr>
                            <tr>
                              {% if deno_025_moneda %}
                                <td>
                                  <input class="form-control precio_deno1_m" type="text" value="{{ deno_025_moneda.denominacion }}" disabled>
                                  <input class="id_deno1_m" type="hidden" value="{{ deno_025_moneda.id}}">
                                </td>
                                <td><input class="form-control" type="text" value="X" disabled></td>
                                <td><input class="form-control cantidad1_m" type="text" value="" ></td>
                                <td><input class="form-control" type="text" value="=" disabled></td>
                                <td><input class="form-control total1_m" type="text" value="$0.0" disabled></td>
                              {% endif %}
                              {% if deno_01_moneda %}
                                <td>
                                  <input class="form-control precio_deno2_m" type="text" value="{{ deno_01_moneda.denominacion }}" disabled>
                                  <input class="id_deno2_m" type="hidden" value="{{ deno_01_moneda.id}}">
                                </td>
                                <td><input class="form-control" type="text" value="X" disabled></td>
                                <td><input class="form-control cantidad2_m" type="text" value="" ></td>
                                <td><input class="form-control" type="text" value="=" disabled></td>
                                <td><input class="form-control total2_m" type="text" value="$0.0" disabled></td>
                              {% endif %}
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="7">Total Moneda</td>
                              <td colspan="3"><input id="total_moneda" type="text" class="form-control" value="$0.0" disabled></td>
                            </tr>
                            <tr>
                              <td colspan="7">Total Billete mas Moneda</td>
                              <td colspan="3"><input id="total_billete_moneda" type="text" class="form-control" value="$0.0" disabled></td>
                            </tr>
                          </tfoot>
                        </table>                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </section>
        </div>

{% endblock %}

{% block contenido %}
        
{% endblock %}


{% load static %}
{% block extra-script %}
    <script src="{% static 'assets/js/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'assets/js/jquery-mask/jquery.mask.js' %}"></script>
    <script src="{% static 'assets/js/select2/select2.js' %}"></script>
    <script src="{% static 'assets/js/toastr/toastr.min.js' %}"></script>
    <script src="{% static 'assets/js/proces_transacciones/crear_transaccion.js' %}"></script>
    
{% endblock %}
