{% extends "base.html" %}

{% block titulo %}
  <title>Listado de Transacciones</title>
{% endblock %}

{% load static %}

{% block extra-css %}
      <link href="{% static 'assets/css/jquery-ui/jquery-ui.css' %}" rel="stylesheet">
      <link href="{% static 'assets/css/select2/select2.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'assets/css/toastr/toastr.css' %}">

{% endblock %}
{% block contenido %}
    <div class="pagetitle">
      <h1>Listar Transacciones</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'store:list_trans' %}">Listar Transacciones</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Transacciones</h5>
              <a class="btn btn-primary pull-right" id="btn_crear_transaccion" href="{% url 'store:crear_trans' %}">Crear Transaccion</a>
              <!-- Table with stripped rows -->
              <div class="table-responsive">
                <table class="table" id="table-transacciones">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Usuario</th>
                      <th scope="col">Fecha de Transaccion</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Sucursal</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellido</th>
                      <th scope="col">Concepto</th>
                      <th scope="col">Total</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->
              </div>
              <input type="hidden" name="url_lista_trans_json" id="url_lista_trans_json" value="{% url 'store:list_trans_json' %}">
            </div>
          </div>

        </div>
      </div>
    </section>
{% endblock %}


{% load static %}

{% block extra-script %}

  <script src="{% static 'assets/js/jquery-ui/jquery-ui.js' %}"></script>
  <script src="{% static 'assets/js/jquery-mask/jquery.mask.js' %}"></script>
  <script src="{% static 'assets/js/select2/select2.js' %}"></script>
  <script src="{% static 'assets/js/toastr/toastr.min.js' %}"></script>
  <script src="{% static 'assets/js/proces_transacciones/listar_transacciones.js' %}"></script>

  {% endblock %}