{% extends "base.html" %}

{% block contenido %}
    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
    
              <!-- Default Card -->
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Detalle de Venta</h5>
                  {% if venta %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" colspan="4">Venta realizada en la fecha {{ venta.fecha_venta }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>                            
                            <td>Usuario:</td>
                            <td>{{ venta.usuario }}</td>
                            <td>No de factura</td>
                            <td>{{ venta.numero_factura }}</td>
                        </tr>
                        <tr>                        
                            <td>Sucursal:</td>
                            <td>{{ venta.sucursal }}</td>
                            <td>Fecha de venta:</td>
                            <td>{{ venta.fecha_venta }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="hidden" id="url_print_ticket" name="url_print_ticket" value="{% url 'store:print_ticket' %}">
                    <input type="hidden" id="url_get_ticket" name="url_get_ticket" value="{% url 'store:get_ticket' %}">
                    <input type="hidden" id="id_venta" name="id_venta" value="{{ venta.id }}">  
                    {% endif %}
                </div>
              </div><!-- End Default Card -->
    
              <!-- Card with header and footer -->
              <div class="card">
                <div class="card-header">Detalle</div>
                <div class="card-body">
                  <h5 class="card-title">Detalle</h5>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Presentacion</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% if detalle_venta %}
                            {% for detalle in detalle_venta %}
                                <tr>
                                    <th scope="row">{{ detalle.id }}</th>
                                    <td>{{ detalle.producto_stock.producto }}</td>
                                    <td>{{ detalle.producto_stock.presentacion }}</td>
                                    <td>{{ detalle.cantidad }}</td>
                                    <td>{{ detalle.precio }}</td>
                                    <td>{{ detalle.total }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                        <p>No hay productos registrados para este inventario</p>
                      {% endif %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="row" colspan="5" style="text-align: right;">Totol IVA</th>
                            <td id="total_iva">{{ venta.total_iva }}</td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="5" style="text-align: right;">Total sin iva</th>
                            <td id="total_sin_iva">{{ venta.total_sin_iva }}</td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="5" style="text-align: right;">Total</th>
                            <td id="total">{{ venta.total_con_iva }}</td>
                        </tr>
                    </tfoot>
                  </table>
                  <!-- End Active Table -->
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary" id="reimprimir">Imprimir ticket</button>
                        <a class="btn btn-success" href="{% url 'store:list_venta' %}">Salir</a>                        
                    </div>                    
                </div>
              </div><!-- End Card with header and footer -->
            </div>
        </div>
    
    </div>
    </section>


{% endblock %}

{% load  static %}
{% block extra-script %}
  
    <script src="{% static 'assets/js/proces_venta/detalle_venta.js' %}"></script>
{% endblock %}