<html>
  <head>
    <meta charset="utf-8">
    <title>Reporte de Ventas</title>
    <meta name="description" content="Invoice demo sample">
  </head>

  <body>
    <center>
      <h4>Reporte de venta <br> desde {{ fecha_inicial }} hasta el dia {{ fecha_final }} </h4>
    </center>
    <table>
      <thead>
        <tr>
          <th>Fecha de Venta</th>
          <th>Usuario</th>
          <th>Sucursal</th>
          <th>Numero de Factura</th>
          <th style="display: none;">total IVA</th>
          <th>Total</th>
          <th style="display: none;">Total</th>
        </tr>
      </thead>
      <tbody>
          {% if ventas %}
            {% for venta in ventas %}
                <tr>
                    <td>{{ venta.fecha_venta|date:"d-m-Y" }}</td>
                    <td>{{ venta.usuario }}</td>
                    <td>{{ venta.sucursal }}</td>
                    <td>{{ venta.numero_factura }}</td>
                    <td style="display: none;">${{ venta.total_iva }}</td>
                    <td>${{ venta.total_sin_iva }}</td>
                    <td style="display: none;">${{ venta.total_con_iva }}</td>
                </tr>
            {% endfor %}
            <tr>
              <td colspan="4">Totales</td>
              <td style="display: none;">${{ total_iva_sum }}</td>
              <td>${{ total_sin_iva_sum }}</td>
              <td style="display: none;">${{ total_con_iva_sum }}</td>
            </tr>
          {% else %}
                <tr>
                    <td>No hay ventas registradas en el rango de fecha proporcionado.</td>
                </tr>
          {% endif %}

      </tbody>
    </table>

  </body>
</html>