<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  {% block titulo %}
    <title>Dashboard</title>
  {% endblock %}
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  {% load static %}
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/iconoInventario.png' %}" rel="iconoInventario.png">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/DataTables/datatables.min.css' %}"/>
  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  {% block extra-css %}

  {% endblock %}

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body {% block atributos_body %}  {% endblock %}>

  <!-- ======= Header ======= -->
  {% block barra_superior %}
    <header id="header" class="header fixed-top d-flex align-items-center">

      <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'store:index' %}" class="logo d-flex align-items-center">
          {% load static %}
          <img src="{% static 'assets/img/iconoInventario.png' %}" alt="">
          <span class="d-none d-lg-block">Sistema de Inventario</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div><!-- End Logo -->

      <div class="search-bar" style="display: none;">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
          <input type="text" name="query" placeholder="Search" title="Enter search keyword">
          <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
      </div><!-- End Search Bar -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle " href="#">
              <i class="bi bi-search"></i>
            </a>
          </li><!-- End Search Icon-->

          <li class="nav-item dropdown">
            {% comment %}
              <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                <i class="bi bi-bell"></i>
                <span class="badge bg-primary badge-number">4</span>
              </a><!-- End Notification Icon -->
            {% endcomment %}
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
              <li class="dropdown-header">
                You have 4 new notifications
                <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li class="notification-item">
                <i class="bi bi-exclamation-circle text-warning"></i>
                <div>
                  <h4>Lorem Ipsum</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>30 min. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider">
              </li>

              <li class="notification-item">
                <i class="bi bi-x-circle text-danger"></i>
                <div>
                  <h4>Atque rerum nesciunt</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>1 hr. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider">
              </li>

              <li class="notification-item">
                <i class="bi bi-check-circle text-success"></i>
                <div>
                  <h4>Sit rerum fuga</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>2 hrs. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider">
              </li>

              <li class="notification-item">
                <i class="bi bi-info-circle text-primary"></i>
                <div>
                  <h4>Dicta reprehenderit</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>4 hrs. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider">
              </li>
              <li class="dropdown-footer">
                <a href="#">Show all notifications</a>
              </li>

            </ul><!-- End Notification Dropdown Items -->

          </li><!-- End Notification Nav -->

          <li class="nav-item dropdown">
            {% comment %}
              <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                <i class="bi bi-chat-left-text"></i>
                <span class="badge bg-success badge-number">3</span>
              </a><!-- End Messages Icon -->  
            {% endcomment %}
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
              <li class="dropdown-header">
                You have 3 new messages
                <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li class="message-item">
                <a href="#">
                  <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                  <div>
                    <h4>Maria Hudson</h4>
                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                    <p>4 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li class="message-item">
                <a href="#">
                  <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                  <div>
                    <h4>Anna Nelson</h4>
                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                    <p>6 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li class="message-item">
                <a href="#">
                  <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                  <div>
                    <h4>David Muldon</h4>
                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                    <p>8 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li class="dropdown-footer">
                <a href="#">Show all messages</a>
              </li>

            </ul><!-- End Messages Dropdown Items -->

          </li><!-- End Messages Nav -->

          <li class="nav-item dropdown pe-3">

            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              {% load static %}
              <img src="{% static 'assets/img/profile-img.jpg' %}" alt="Perfil" class="rounded-circle">
              <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.username }}</span>
            </a><!-- End Profile Iamge Icon -->
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                {% if user.is_authenticated %}
                  <li class="dropdown-header">
                    <h6>{{ user.username }}</h6>
                    <span>{{ user.sucursal }}</span><br>
                    <span>{{ user.caja }}</span>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>

                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'store:detalle_user' user.id %}">
                      <i class="bi bi-person"></i>
                      <span>Mi Perfil</span>
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  {% comment %}
                    <li>
                      <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                        <i class="bi bi-gear"></i>
                        <span>Account Settings</span>
                      </a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    
                    <li>
                      <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                        <i class="bi bi-question-circle"></i>
                        <span>Need Help?</span>
                      </a>
                    </li>
                  {% endcomment %}
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                {% endif %}
                <li>
                  {% if user.is_authenticated %}
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'store:logout' %}">
                      <i class="bi bi-box-arrow-right"></i>
                      <span>Cerrar session</span>
                    </a>
                  {% else %}
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'store:login' %}">
                      <i class="bi bi-box-arrow-right"></i>
                      <span>Iniciar session</span>
                    </a>
                  {% endif %}
                </li>

              </ul><!-- End Profile Dropdown Items -->
            

          </li><!-- End Profile Nav -->

        </ul>
      </nav><!-- End Icons Navigation -->

    </header>
  {% endblock %}
  <!-- End Header -->
  

  <!-- ======= Sidebar ======= -->
  {% block barra_lateral %}
    <aside id="sidebar" class="sidebar">
      {% if user.is_authenticated %}
        <ul class="sidebar-nav" id="sidebar-nav">

          <li class="nav-item">
            <a class="nav-link " href="{% url 'store:index' %}">
              <i class="bi bi-grid"></i>
              <span>Dashboard</span>
            </a>
          </li><!-- End Dashboard Nav -->
          {# si tipo usuario es administrador entonces podra administrar usuario u sucursales e inventario #}
          {% if user.tipo_usuario.tipo_usuario == "administrador" %}{# se tiene que respetar los espacios #}
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#user-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person"></i><span>Administrar Usuarios</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="user-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:user' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Usuarios</span>
                  </a>
                </li><!-- End Register Page Nav -->
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:list_tipo_user' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Tipo de Usuarios</span>
                  </a>
                </li><!-- End Register Page Nav -->
              </ul>
            </li><!-- End Forms Nav -->
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#caja-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-wallet2"></i><span>Administrar Caja</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="caja-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:list_caja' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Cajas</span>
                  </a>
                </li><!-- End Register Page Nav -->
              </ul>
            </li><!-- End Forms Nav -->
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#sucursal-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-building"></i><span>Administrar Sucursales</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="sucursal-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:list_sucursal' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Sucursales</span>
                  </a>
                </li><!-- End Register Page Nav -->
              </ul>
            </li><!-- End Forms Nav -->
          
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#cate-prod-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-clipboard-data"></i><span>Administrar Inventario</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="cate-prod-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:list_prod' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Productos</span>
                  </a>
                </li><!-- End Register Page Nav -->
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:list_prove' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Proveedores</span>
                  </a>
                </li><!-- End Register Page Nav -->
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:list_cate' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Categorias</span>
                  </a>
                </li><!-- End Register Page Nav -->
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:list_pre' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Presentaciones</span>
                  </a>
                </li><!-- End Register Page Nav -->
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:list_carga_prod' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Carga de Inventario</span>
                  </a>
                </li><!-- End Register Page Nav -->
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:list_descarga_prod' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Descarga de Inventario</span>
                  </a>
                </li><!-- End Register Page Nav -->
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:list_inv' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Inventario</span>
                  </a>
                </li><!-- End Register Page Nav -->
              </ul>
            </li><!-- End Forms Nav -->
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#ventas-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-shop"></i><span>Administrar Ventas</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="ventas-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:list_venta' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Ventas</span>
                  </a>
                </li><!-- End Register Page Nav -->
              </ul>
            </li><!-- End Forms Nav -->
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#devo-ventas-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Administrar Devoluciones</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="devo-ventas-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:dev_ventas' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Devoluciones de venta</span>
                  </a>
                </li><!-- End Register Page Nav -->
              </ul>
            </li><!-- End Forms Nav -->
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#reportes-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-file-earmark-bar-graph-fill"></i><span>Reporte</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="reportes-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:reporte_venta_view' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Reporte de ventas</span>
                  </a>
                </li><!-- End Register Page Nav -->
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:report_ape' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Reporte de Aperturas y Corte</span>
                  </a>
                </li><!-- End Register Page Nav -->
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:report_ent_sal' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Reporte de Entradas y Salidas de Efectivo</span>
                  </a>
                </li><!-- End Register Page Nav -->
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:reporte_inv_view' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Reporte de Inventario</span>
                  </a>
                </li><!-- End Register Page Nav -->
              </ul>
            </li><!-- End Forms Nav -->
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#entradas-salidas-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-cash"></i><span>Administrar Entradas y Salidas</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="entradas-salidas-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:entrada_salida' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Entradas y Salidas de Caja</span>
                  </a>
                </li><!-- End Register Page Nav -->
              </ul>
            </li><!-- End Forms Nav -->
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#codigo-barra-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-upc-scan"></i><span>Codigo de barra</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="codigo-barra-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:gen_codigo_barra' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Generar Codigo de Barra</span>
                  </a>
                </li><!-- End Register Page Nav -->
              </ul>
            </li><!-- End Forms Nav -->
          {% elif user.tipo_usuario.tipo_usuario == "usuario" %}
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#cate-prod-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-clipboard-data"></i><span>Inventario</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="cate-prod-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:list_inv' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Inventario</span>
                  </a>
                </li><!-- End Register Page Nav -->
              </ul>
            </li><!-- End Forms Nav -->
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#ventas-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-shop"></i><span>Administrar Ventas</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="ventas-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:list_venta' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Ventas</span>
                  </a>
                </li><!-- End Register Page Nav -->
              </ul>
            </li><!-- End Forms Nav -->
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#reportes-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Reporte</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="reportes-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:reporte_venta_view' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Reporte de ventas</span>
                  </a>
                </li><!-- End Register Page Nav -->
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:report_ape' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Reporte de Aperturas y Corte</span>
                  </a>
                </li><!-- End Register Page Nav -->
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:report_ent_sal' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Reporte de Entradas y Salidas de Efectivo</span>
                  </a>
                </li><!-- End Register Page Nav -->                
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:reporte_inv_view' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Reporte de Inventario</span>
                  </a>
                </li><!-- End Register Page Nav -->
              </ul>
            </li><!-- End Forms Nav -->
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#entradas-salidas-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-cash"></i><span>Administrar Entradas y Salidas</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="entradas-salidas-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li class="nav-item">
                  <a class="nav-link collapsed" href="{% url 'store:entrada_salida' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Entradas y Salidas de Caja</span>
                  </a>
                </li><!-- End Register Page Nav -->
              </ul>
            </li><!-- End Forms Nav -->
          {% endif %}
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#apertura-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-cash-coin"></i><span>Administrar Aperturas</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="apertura-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'store:list_apertura_corte' %}">
                  <i class="bi bi-card-list"></i>
                  <span>Aperturas</span>
                </a>
              </li><!-- End Register Page Nav -->
            </ul>
          </li><!-- End Forms Nav -->
        </ul>
      {% endif %}

    </aside><!-- End Sidebar-->
  {% endblock %}
    <main id="main" class="main">
        {% block contenido %}
        <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Inicio</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
            <div class="row">

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
                    {% comment %}
                      <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                          <h6>Filter</h6>
                          </li>

                          <li><a class="dropdown-item" href="#">Today</a></li>
                          <li><a class="dropdown-item" href="#">This Month</a></li>
                          <li><a class="dropdown-item" href="#">This Year</a></li>
                      </ul>
                      </div>
                    {% endcomment %}
                    <div class="card-body">
                    <h5 class="card-title">Ventas <span>| Hoy</span></h5>

                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                        </div>
                        <div class="ps-3">
                        <h6>${{ total_con_iva }}</h6>

                       {#<span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>#} 

                        </div>
                    </div>
                    </div>

                </div>
                </div><!-- End Sales Card -->
                {% comment %}
                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">

                    <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                    </div>

                    <div class="card-body">
                    <h5 class="card-title">Revenue <span>| This Month</span></h5>

                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-currency-dollar"></i>
                        </div>
                        <div class="ps-3">
                        <h6>$3,264</h6>
                        <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                        </div>
                    </div>
                    </div>

                </div>
                </div><!-- End Revenue Card -->
                {% endcomment %}

                {% comment %}
                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                <div class="card info-card customers-card">

                    <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                    </div>

                    <div class="card-body">
                    <h5 class="card-title">Customers <span>| This Year</span></h5>

                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-people"></i>
                        </div>
                        <div class="ps-3">
                        <h6>1244</h6>
                        <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                        </div>
                    </div>

                    </div>
                </div>

                </div><!-- End Customers Card -->
                {% endcomment %}

                <!-- Reports -->
                <div class="col-12">
                <div class="card">
                    {% comment %}
                      <div class="filter">                      
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                          <h6>Filter</h6>
                          </li>

                          <li><a class="dropdown-item" href="#">Today</a></li>
                          <li><a class="dropdown-item" href="#">This Month</a></li>
                          <li><a class="dropdown-item" href="#">This Year</a></li>
                      </ul>
                      </div>
                    {% endcomment %}

                    <div class="card-body">
                    <h5 class="card-title">Reports <span>/Today</span></h5>

                    <!-- Line Chart -->
                    <div id="reportsChart"></div>
                    <input type="hidden" name="url_chart_hoy" id="url_chart_hoy" value="{% url 'store:url_grafico' %}">
                    <!-- End Line Chart -->

                    </div>

                </div>
                </div><!-- End Reports -->

                {% comment %}
                <!-- Recent Sales -->
                <div class="col-12">
                <div class="card recent-sales">

                    <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                    </div>

                    <div class="card-body">
                    <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                    <table class="table table-borderless datatable">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row"><a href="#">#2457</a></th>
                            <td>Brandon Jacob</td>
                            <td><a href="#" class="text-primary">At praesentium minu</a></td>
                            <td>$64</td>
                            <td><span class="badge bg-success">Approved</span></td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#">#2147</a></th>
                            <td>Bridie Kessler</td>
                            <td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a></td>
                            <td>$47</td>
                            <td><span class="badge bg-warning">Pending</span></td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#">#2049</a></th>
                            <td>Ashleigh Langosh</td>
                            <td><a href="#" class="text-primary">At recusandae consectetur</a></td>
                            <td>$147</td>
                            <td><span class="badge bg-success">Approved</span></td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#">#2644</a></th>
                            <td>Angus Grady</td>
                            <td><a href="#" class="text-primar">Ut voluptatem id earum et</a></td>
                            <td>$67</td>
                            <td><span class="badge bg-danger">Rejected</span></td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#">#2644</a></th>
                            <td>Raheem Lehner</td>
                            <td><a href="#" class="text-primary">Sunt similique distinctio</a></td>
                            <td>$165</td>
                            <td><span class="badge bg-success">Approved</span></td>
                        </tr>
                        </tbody>
                    </table>

                    </div>

                </div>
                </div><!-- End Recent Sales -->
                {% endcomment %}

                {% comment %}
                <!-- Top Selling -->
                <div class="col-12">
                <div class="card top-selling">

                    <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                    </div>

                    <div class="card-body pb-0">
                    <h5 class="card-title">Top Selling <span>| Today</span></h5>

                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th scope="col">Preview</th>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Sold</th>
                            <th scope="col">Revenue</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row"><a href="#"><img src="assets/img/product-1.jpg" alt=""></a></th>
                            <td><a href="#" class="text-primary fw-bold">Ut inventore ipsa voluptas nulla</a></td>
                            <td>$64</td>
                            <td class="fw-bold">124</td>
                            <td>$5,828</td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#"><img src="assets/img/product-2.jpg" alt=""></a></th>
                            <td><a href="#" class="text-primary fw-bold">Exercitationem similique doloremque</a></td>
                            <td>$46</td>
                            <td class="fw-bold">98</td>
                            <td>$4,508</td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#"><img src="assets/img/product-3.jpg" alt=""></a></th>
                            <td><a href="#" class="text-primary fw-bold">Doloribus nisi exercitationem</a></td>
                            <td>$59</td>
                            <td class="fw-bold">74</td>
                            <td>$4,366</td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#"><img src="assets/img/product-4.jpg" alt=""></a></th>
                            <td><a href="#" class="text-primary fw-bold">Officiis quaerat sint rerum error</a></td>
                            <td>$32</td>
                            <td class="fw-bold">63</td>
                            <td>$2,016</td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#"><img src="assets/img/product-5.jpg" alt=""></a></th>
                            <td><a href="#" class="text-primary fw-bold">Sit unde debitis delectus repellendus</a></td>
                            <td>$79</td>
                            <td class="fw-bold">41</td>
                            <td>$3,239</td>
                        </tr>
                        </tbody>
                    </table>

                    </div>

                </div>
                </div><!-- End Top Selling -->

            </div>
            </div><!-- End Left side columns -->
            {% endcomment %}
            <!-- Right side columns -->
            <div class="col-lg-4">

            {% comment %}
            <!-- Recent Activity -->
            <div class="card">
                <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
                </div>

                <div class="card-body">
                <h5 class="card-title">Recent Activity <span>| Today</span></h5>

                <div class="activity">

                    <div class="activity-item d-flex">
                    <div class="activite-label">32 min</div>
                    <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                    <div class="activity-content">
                        Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae
                    </div>
                    </div><!-- End activity item-->

                    <div class="activity-item d-flex">
                    <div class="activite-label">56 min</div>
                    <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                    <div class="activity-content">
                        Voluptatem blanditiis blanditiis eveniet
                    </div>
                    </div><!-- End activity item-->

                    <div class="activity-item d-flex">
                    <div class="activite-label">2 hrs</div>
                    <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                    <div class="activity-content">
                        Voluptates corrupti molestias voluptatem
                    </div>
                    </div><!-- End activity item-->

                    <div class="activity-item d-flex">
                    <div class="activite-label">1 day</div>
                    <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                    <div class="activity-content">
                        Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore
                    </div>
                    </div><!-- End activity item-->

                    <div class="activity-item d-flex">
                    <div class="activite-label">2 days</div>
                    <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                    <div class="activity-content">
                        Est sit eum reiciendis exercitationem
                    </div>
                    </div><!-- End activity item-->

                    <div class="activity-item d-flex">
                    <div class="activite-label">4 weeks</div>
                    <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                    <div class="activity-content">
                        Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                    </div>
                    </div><!-- End activity item-->

                </div>

                </div>
            </div><!-- End Recent Activity -->
            {% endcomment %}

            {% comment %}
            <!-- Budget Report -->
            <div class="card">
                <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
                </div>

                <div class="card-body pb-0">
                <h5 class="card-title">Budget Report <span>| This Month</span></h5>

                <div id="budgetChart" style="min-height: 400px;" class="echart"></div>

                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                    var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
                        legend: {
                        data: ['Allocated Budget', 'Actual Spending']
                        },
                        radar: {
                        // shape: 'circle',
                        indicator: [{
                            name: 'Sales',
                            max: 6500
                            },
                            {
                            name: 'Administration',
                            max: 16000
                            },
                            {
                            name: 'Information Technology',
                            max: 30000
                            },
                            {
                            name: 'Customer Support',
                            max: 38000
                            },
                            {
                            name: 'Development',
                            max: 52000
                            },
                            {
                            name: 'Marketing',
                            max: 25000
                            }
                        ]
                        },
                        series: [{
                        name: 'Budget vs spending',
                        type: 'radar',
                        data: [{
                            value: [4200, 3000, 20000, 35000, 50000, 18000],
                            name: 'Allocated Budget'
                            },
                            {
                            value: [5000, 14000, 28000, 26000, 42000, 21000],
                            name: 'Actual Spending'
                            }
                        ]
                        }]
                    });
                    });
                </script>

                </div>
            </div><!-- End Budget Report -->
            {% endcomment %}

            {% comment %}
            <!-- Website Traffic -->
            <div class="card">
                <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
                </div>

                <div class="card-body pb-0">
                <h5 class="card-title">Website Traffic <span>| Today</span></h5>

                <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                    echarts.init(document.querySelector("#trafficChart")).setOption({
                        tooltip: {
                        trigger: 'item'
                        },
                        legend: {
                        top: '5%',
                        left: 'center'
                        },
                        series: [{
                        name: 'Access From',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                            show: true,
                            fontSize: '18',
                            fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: [{
                            value: 1048,
                            name: 'Search Engine'
                            },
                            {
                            value: 735,
                            name: 'Direct'
                            },
                            {
                            value: 580,
                            name: 'Email'
                            },
                            {
                            value: 484,
                            name: 'Union Ads'
                            },
                            {
                            value: 300,
                            name: 'Video Ads'
                            }
                        ]
                        }]
                    });
                    });
                </script>

                </div>
            </div><!-- End Website Traffic -->
            {% endcomment %}

            {% comment %}
            <!-- News & Updates Traffic -->
            <div class="card">
                <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
                </div>

                <div class="card-body pb-0">
                <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

                <div class="news">
                    <div class="post-item clearfix">
                    <img src="assets/img/news-1.jpg" alt="">
                    <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                    <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                    </div>

                    <div class="post-item clearfix">
                    <img src="assets/img/news-2.jpg" alt="">
                    <h4><a href="#">Quidem autem et impedit</a></h4>
                    <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
                    </div>

                    <div class="post-item clearfix">
                    <img src="assets/img/news-3.jpg" alt="">
                    <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                    <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                    </div>

                    <div class="post-item clearfix">
                    <img src="assets/img/news-4.jpg" alt="">
                    <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                    <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
                    </div>

                    <div class="post-item clearfix">
                    <img src="assets/img/news-5.jpg" alt="">
                    <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                    <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
                    </div>

                </div><!-- End sidebar recent posts-->

                </div>
            </div><!-- End News & Updates -->
            {% endcomment %}
            </div><!-- End Right side columns -->

        </div>
        </section>
        {% endblock %}
    </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Ciber Gamers Solutions</span></strong>. 
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  {% load static %}
  <script src="{% static  'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static  'assets/vendor/php-email-form/validate.js' %}"></script>
  
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/jquery/jquery.js' %}"></script>
  <script src="{% static 'assets/js/grafico/grafico.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/vendor/DataTables/datatables.min.js' %}"></script>
  {% block extra-script %}
    
  {% endblock %}

</body>

</html>