{% extends "base.html" %}
{% block titulo %}
  <title>Lista de cajas</title>
{% endblock %}

{% block contenido %}
    <div class="pagetitle">
      <h1>Listar Cargas de Inventario</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'store:list_caja' %}">Listar Cajas</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Cajas Registradoras</h5>
              <a class="btn btn-primary pull-right" href="{% url 'store:crear_caja' %}">Agregar Caja</a>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Caja</th>
                    <th scope="col" colspan="2">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                    {% if cajas %}
                        {% for caja in cajas %}
                            <tr>                    
                                <th scope="row">{{ caja.id }}</th>
                                <td>{{ caja.numero_de_caja }}</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            Action
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{% url 'store:edit_caja' caja.id %}">Editar</a></li>
                                            {# <li><a class="dropdown-item" href="{% url 'store:del_caja' caja.id %}">Eliminar</a></li> #}
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <p>No hay registros que mostrar</p>
                  {% endif %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>
{% endblock %}


{% load static %}

{% block extra-script %}
    
{% endblock %}